html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

ol, li {
	padding: 0;
	margin: 0;
}

.pages {
	width: auto;
	height: 100%;
	font-size: 0;
	white-space: nowrap;
}

.page {
	font-size: 1rem;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	white-space: normal;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.page img {
	width: auto;
	height: 100%;
}

.page:nth-child(1) {
	background: #f00;
}

.page:nth-child(2) {
	background: #0f0;
}

.page:nth-child(3) {
	background: #00f;
}

.page:nth-child(4) {
	background: #ff0;
}

.page:nth-child(5) {
	background: #0ff;
}

.page:nth-child(6) {
	background: #f0f;
}

a.navigation {
	position: fixed;
	top: 50%;
	font-size: 2rem;
	width: 64px;
	height: 96px;
	line-height: 64px;
	margin-top: -48px;
	text-decoration: none;
	text-align: center;
	background: rgba(255,255,255,0.9) url(../img/arrows.png) no-repeat 0px center;
	color: #222;

	transition: 0.5s ease-out all;
	-webkit-transition: 0.5s ease-out all;
	-moz-transition: 0.5s ease-out all;
	-ms-transition: 0.5s ease-out all;
	-o-transition: 0.5s ease-out all;

}

a[rel="next"] {
	background-position-x: -64px;
	right: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

a[rel="previous"] {
	left: 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

a[rel="next"].hidden {
	right: -64px;
	transition: 0.5s ease-out right;
	-webkit-transition: 0.5s ease-out right;
	-moz-transition: 0.5s ease-out right;
	-ms-transition: 0.5s ease-out right;
	-o-transition: 0.5s ease-out right;
}

a[rel="previous"].hidden {
	left: -64px;
	transition: 0.5s ease-out left;
	-webkit-transition: 0.5s ease-out left;
	-moz-transition: 0.5s ease-out left;
	-ms-transition: 0.5s ease-out left;
	-o-transition: 0.5s ease-out left;
}

.overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.75);
	visibility: visible;
	opacity: 1.0;
}

.overlay.hidden {
	visibility: hidden;
	opacity: 0;
	transition: 0.5s ease-out opacity;
	-webkit-transition: 0.5s ease-out opacity;
	-moz-transition: 0.5s ease-out opacity;
	-ms-transition: 0.5s ease-out opacity;
	-o-transition: 0.5s ease-out opacity;
}

.loading {
	background: #fff url(../img/loading.gif) no-repeat center center;
	width: 96px;
	height: 96px;
	top: 50%;
	left: 50%;
	border-radius: 8px;
	position: fixed;
	margin-top: -48px;
	margin-left: -48px;
}

.info {
	position: fixed;
	left: 50%;
	margin-left: -240px;
	bottom: 2rem;
	border-radius: 8px;
	background: rgba(255,255,255,0.9);
	color: #222;
	text-align: center;
	padding: 1rem 2rem;
	width: 480px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.info.hidden {
	bottom: -6rem;
	transition: 0.5s ease-out bottom;
	-webkit-transition: 0.5s ease-out bottom;
	-moz-transition: 0.5s ease-out bottom;
	-ms-transition: 0.5s ease-out bottom;
	-o-transition: 0.5s ease-out bottom;
}
