<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns/book#">
	<head>
		
		<meta charset="utf-8" />
		
		<meta property="og:title" content="<?php title(); ?>" />
		<meta property="og:description" content="" />
		<meta property="og:type" content="book" />
		<meta property="og:book:isbn" content="" />
		<meta property="og:book:release_date" content="" />
		<meta property="og:book:author" content="" />
		<meta property="og:book:tag" content="" />
		<meta property="og:author" content="" />
		<meta property="og:image" content="" />
		<meta property="og:url" content="" />
		
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="language" content="" />

		<title><?php title(); ?></title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300" rel="stylesheet" type="text/css" />
		<link href="css/comic.css" type="text/css" rel="stylesheet" />

	</head>
	<body>
		<ol class="pages" data-orientation="landscape">
			<?php foreach($pages as $page): ?>
			<li class="page" data-url="<?php echo $page; ?>"></li>
			<?php endforeach; ?>
		</ol>
		<a href="#" class="navigation hidden" rel="next" title="Siguiente"></a>
		<a href="#" class="navigation hidden" rel="previous" title="Anterior"></a>
		<div class="overlay hidden">
			<div class="loading">
				
			</div>
		</div>
		<div class="info hidden">
			Este cómic se visualiza mejor en horizontal
		</div>
		<script type="text/javascript" src="js/comic.js"></script>
	</body>
</html>

